.equal-btn {
  cursor: pointer;
  display: block;
  height: 60px;
  width: 90%;
  line-height: 60px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  background-color: #61c6f2;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 10px;
  svg {
    fill: #f6f6f6;
    stroke: #f6f6f6;
    padding-top: 10px;
  }
}
