.calc-wrapper {
  display: grid;
  width: 50%;
  min-width: 300px;
  margin: 0 auto;
  grid-template-columns: 1fr;
  .row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-size: 2em;
    align-items: center;
    justify-items: center;
    .calc-op-icons {
      width: 50px;
    }
    .calc-ip-op {
      grid-area: 1/1/2/5;
      width: 100%;
    }
    .equal-btn {
      grid-area: 1/3/2/5;
    }
  }
}
